<ul>
<p></p>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %></li>
    <li><%= restaurant.address %></li>
    <%= link_to "Edit", edit_restaurant_path(restaurant) %>
    <%= link_to "Delete", restaurant_path(restaurant), data: {method: :delete, confirm: "Are you sure?"} %>
  <% end %>
</ul>

<%= link_to "Create new restaurant", new_restaurant_path %>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>